<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" strict="true" name="XMLConfigTest"
	packages="org.apache.logging.log4j.test">
	<Properties>
		<Property name="filename">/Users/Alex/javas/coco/Coco1.log</Property>
	</Properties>
	<Filter type="ThresholdFilter" level="trace" />

	<Appenders>
		<Appender type="File" name="File" fileName="${filename}">
			<Layout type="PatternLayout">
				<Pattern>%d{dd MMM yyyy HH:mm:ss} %p %C{2.} [%t] %m%n</Pattern>
			</Layout>
		</Appender>
	</Appenders>

	<Loggers>
		<Root level="trace">
			<AppenderRef ref="File" />
		</Root>
	</Loggers>

</Configuration>